<nav class="navbar navbar-expand-lg navbar-light background-nav">
    <div>
        <img class="br-50 p-30" src="../../assets/LOGO3.png" alt="life learning logo" width="250px" height="80px">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex" id="conteudoNavbarSuportado">
      <ul id="ul-cursos" class="m-0">
        <li class="nav-item d-flex align-items-center" >
            <a class="nav-link text-left p-0" style="color: black;" href="#">Cursos</a>
          </li>
      </ul>
        <ul class="navbar-nav m-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home<span class="sr-only" routerLink='/home'>(página atual)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Digite o que procura" aria-label="Pesquisar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
              <li class="nav-item active p-2">
               <img src="https://i.imgur.com/PagMagr.jpg" alt="imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
              </li>
              <li class="nav-item pl-3">
                  <a href="">
                    <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p> 
                  </a>
                </li>
            </ul>
        </div>
      </form>
    </div>
  </nav>