<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-#A8E9E9" id="nav">
      <a class="navbar-brand" href="#"><img src="../../assets/logo-home.png" alt="" style="height: 60px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link mr-2" href="#" style="font-size: 18px; font-weight: bold;">Home <span class="sr-only">(página atual)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body" href="#" style="font-size: 18px; font-weight: bold;">Entrar</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<body style="background-color: #11B894;">
  <div class="container-fluid p-5 containerEsq" style="background-color: #11B894;">
    <div class="container p-0 d-flex justify-content-center">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <p class="text-white texto1">Aprenda com qualidade mantendo a sanidade</p>
        </div>
        <div class="col-md-6">
          <img src="../../assets/avatar-vermelho.png" alt="foto de um homem sentado na cadeira">
        </div>
      </div>
    </div>
    
    <div class="container p-5 my-5">
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/grupo-avatar.png" alt="foto de um grupo de amigos sentados e conversando">
        </div>
        <div class="col-md-6 d-flex align-items-center" style="max-width: 400px;">
          <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. A cum nemo aut accusantium quo eligendi suscipit, beatae vitae, unde hic facere corrupti, reprehenderit veritatis modi itaque impedit. Dolores, enim veniam.
            Facilis saepe ut numquam, perferendis cumque et dignissimos dolore neque id at! Cupiditate ut quas officia, explicabo officiis repellat distinctio natus sed veniam iste error rem amet libero sunt accusamus!</p>
          </div>
        </div>
        
        <div class="container p-5 my-5">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center">
              <p class="text-white mr-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorum explicabo odit expedita at. Rem fuga architecto repudiandae provident, ratione doloremque, quae possimus vel, vero laboriosam eos expedita cumque adipisci!
                Magnam ratione libero tempore dolorem explicabo aspernatur atque hic corrupti. Voluptatibus eveniet voluptate architecto, obcaecati fugit quis tempore magnam quas ipsam. Atque velit accusamus recusandae placeat ducimus, exercitationem quam a.</p>
              </div>
              <div class="col-md-6">
                <img src="../../assets/computador-avatar.png" alt="">
              </div>
            </div>
          </div>
          
          <div class="container">
            <div class="row sobreNos">
              <div class="col-md-12 d-flex justify-content-center imagemAbout mt-2">
                <img src="../../assets/logo-le.png" alt="logo da life learning">
              </div>
              <div class="col-md-12 mb-3">
                <a href="" style="text-decoration: none;"><h2 class="text-center" style="font-size: 64px; color: #AA4BCC; font-weight: bold;">Quem somos</h2></a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </body>
    
    