<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container mb-50">
        <div class="row d-flex align-items-center p-0 bg-light me-0">
            <div class="col-md-6 p-0" id="bg-image"></div>
            <div class="col-md-6 ">
                <div class="row d-flex">
                    <div class="col-md-6 p-0">
                        <div>
                            <div class="form-group mb-1">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" name="nome" id="nome" placeholder="Seu nome">
                            </div>
                            <div class="form-group mb-3">
                                <label for="usuario">E-mail</label>
                                <input type="text" class="form-control " name="usuario" id="usuario" placeholder="Seu usuário">
                            </div>
                            <div class="form-group mb-3">
                                <label for="foto">Telefone</label>
                                <input type="text" class="form-control" name="foto" id="foto" placeholder="Insira o link da sua foto de perfil">
                            </div>
                            <div class="form-group mb-3">
                                <label for="foto">Assunto</label>
                                <input type="text" class="form-control" name="assunto" id="assunto" placeholder="Insira o assunto">
                            </div>
                            <form>
                                <label for="assunto">Comentário:</label> <br>
                                <textarea name="assunto" id="comentario" cols="38" rows="5" onkeyup="validaAssunto()"></textarea>
                                <div id="txtAssunto"></div>
                                <button type="submit" class="btn btn-grey me-4">Enviar</button>
                            </form>

                            <div class="col-md-6 colorLogin margem shadow-sm p-3 mb-5 bg-white rounded">
            
                                <div class="form-group">
                                    <label for="usuario">@ lifelearning@gmail.com</label>  
                                </div>
            
                                <div class="form-group">
                                    <label for="senha"># Redes Sociais</label>
                                </div>
            
            
                            </div>



                        </div>
                        
                    </div>
                </div>
            </div>    
        </div>
    </div>  
</footer>