<div class="container-fluid cor-bg" style="width: auto;">
  <div class="container d-flex justify-content-center cor-bg">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group mb-3 text-white">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="nome" placeholder="Seu nome">
        </div>
        <div class="form-group mb-3 text-white">
          <label for="usuario">Usuário</label>
          <input type="text" class="form-control " name="usuario" id="usuario" placeholder="Seu usuário">
        </div>
        <div class="form-group mb-3 text-white">
          <label for="foto">Link da foto</label>
          <input type="text" class="form-control" name="foto" id="foto"
            placeholder="Insira o link da sua foto de perfil">
        </div>
        <div class="form-group mb-3 text-white">
          <label for="senha">Senha</label>
          <input type="password" class="form-control" name="senha" id="senha" placeholder="Sua senha">
        </div>
        <div class="form-group mb-3 text-white">
          <label for="confirmSenha">Confirmar senha</label>
          <input type="password" class="form-control" name="confirmSenha" id="confirmSenha"
            placeholder="Confirme sua senha">
        </div>
        <div class="form-group mb-3 text-white">
          <label for="comentario">Comentário</label>
          <div><textarea name="assunto" id="assunto" cols="50" rows="4" onkeyup="validaAssunto()"></textarea></div>
          <div id="txtAssunto"></div>
          <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-success" type="submit">Enviar</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center pl-5">
        <ul style="list-style: none text-white;">
          <li>
            <h4 class="text-white">Email</h4> <i class="fa fa-envelope" aria-hidden="true"></i>
          </li>
          <li>
            <h4 class="text-white">Telefone</h4> <i class="fa fa-phone" aria-hidden="true" ></i> 
          </li>
          <li>
            <h4 class="text-white">Endereço</h4> <i class="fa fa-map-marker" aria-hidden="true"></i>
          </li>
          <li>
            <h4 class="text-white">Redes sociais</h4>
          </li>
          <ul class="social-network text-white">
            <li>
              <a href="" target="_blank" class="icoFacebook text-white">  <i class="fab fa-facebook-square"></i> </a> 
            </li>

            <li>
              <a href="" target="_blank" class="icoGithub text-white">  <i class="fab fa-github-alt"></i> </a> 
            </li>

            <li>
              <a href="" target="_blank" class="icoLinkedin text-white">  <i class="fab fa-linkedin"></i> </a> 
            </li>

          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>