<div class="body container-fluid background bg-image">

    <div class="row bordas">

        <div class="col-md-3">

            <ul class="list-group magin-top font-weight-bold">
                <div class="vertical-menu">
                    <a href="#" class="active" class="active" href="#"><i class="fa fa-home"></i> Home</a>
                    <a href="#">Finanças básica</a>
                    <a href="#">Libras</a>
                    <a href="#">Política básica</a>
                    <a href="#">História</a>
                    <a href="#">Literatura</a>
                </div>
            </ul>

        </div>

        <div class="col-md-6  bordas-centro">
            <div class="jumbotron d-flex justify-content-center magin-top">
                <h3>Compartilhe conosco sua experiência </h3>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <h1 class="text-center">Feed</h1>

                    <div class="card mt-5 mb-5" style="width: auto;">
                        <div>
                            <p class="font-weight-light p-4">Nome de usuario | 29/10/2002:14:32</p>
                        </div>
                        <img class="card-img-top post" src="https://i.imgur.com/NgLP9NX.png" alt="imagem da postagem">
                        <p class="font-weight-light p-4">Tags:</p>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="card mt-5 mb-5" style="width: auto;">
                        <div>
                            <p class="font-weight-light p-4">Nome de usuario | 29/10/2002:14:32</p>
                        </div>
                        <img class="card-img-top post" src="https://i.imgur.com/NYgRSfw.png" alt="imagem da postagem">
                        <p class="font-weight-light p-4">Tags:</p>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="card mt-5 mb-5" style="width: auto;">
                        <div>
                            <p class="font-weight-light p-4">Nome de usuario | 29/10/2002:14:32</p>
                        </div>
                        <img class="card-img-top post" src="https://i.imgur.com/CQ68FyB.png" alt="imagem da postagem">
                        <p class="font-weight-light p-4">Tags:</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 text-center bordas">
            <h3 class="magin-top cor-tags">Trends</h3>

            <div class="m-0 p-0 font-italic cor-tags">
                <h2>#VacinaJá</h2>
                <h2>#Tecnologia</h2>
                <h3>#Cinema</h3>
                <h4>#Bitcoin</h4>
                <h4>#MeioAmbiente</h4>
                <h5>#Música</h5>
                <h5>#Política</h5>
            </div>

        </div>

    </div>
</div>