<div class="body container-fluid background bg-image">

  <div class="row bordas">

    <div class="col-md-3 d-flex justify-content-center">

      <ul class="list-group magin-top font-weight-bold" style="list-style: none;">
        <div class="vertical-menu">
          <li><a href="#" class="active" class="active" href="#"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="#">Finanças básica</a></li>
          <li><a href="#">Libras</a></li>
          <li><a href="#">Política básica</a></li>
          <li> <a href="#">História</a></li>
          <li><a href="#">Literatura</a></li>
        </div>
      </ul>

    </div>

    <div class="col-md-6  bordas-centro">
      <a style="cursor: pointer;" data-toggle="modal" data-target="#novaPostagem">
        <div class="jumbotron d-flex justify-content-center magin-top">
          <h3>Compartilhe conosco sua experiência </h3>
        </div>
      </a>

      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <h1 class="text-center">Feed</h1>

          <div class="card mt-5 mb-5" style="width: auto;">
            <div>
              <p class="font-weight-light p-4">Nome de usuario | 29/10/2002:14:32</p>
            </div>
            <img class="card-img-top post" src="https://i.imgur.com/NgLP9NX.png" alt="imagem da postagem">
            <p class="font-weight-light p-4">Tags:</p>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <div class="card mt-5 mb-5" style="width: auto;">
            <div>
              <p class="font-weight-light p-4">Nome de usuario | 29/10/2002:14:32</p>
            </div>
            <img class="card-img-top post" src="https://i.imgur.com/NYgRSfw.png" alt="imagem da postagem">
            <p class="font-weight-light p-4">Tags:</p>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <div class="card mt-5 mb-5" style="width: auto;">
            <div>
              <p class="font-weight-light p-4">Nome de usuario | 29/10/2002:14:32</p>
            </div>
            <img class="card-img-top post" src="https://i.imgur.com/CQ68FyB.png" alt="imagem da postagem">
            <p class="font-weight-light p-4">Tags:</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 text-center bordas">
      <h3 class="magin-top cor-tags">Trends</h3>

      <div class="m-0 p-0 font-italic cor-tags">
        <h2>#VacinaJá</h2>
        <h2>#Tecnologia</h2>
        <h3>#Cinema</h3>
        <h4>#Bitcoin</h4>
        <h4>#MeioAmbiente</h4>
        <h5>#Música</h5>
        <h5>#Política</h5>
      </div>

    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input type="text" class="form-control" placeholder="Digite o título">
        </div>
        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea name="texto" id="texto" rows="4" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="tema">Escolha um tema ou <a href="" routerLink='/tema'>cadastre um novo</a>: </label>
          <select name="tema" id="tema" class="form-control">
            <option value="">Selecione um tema</option>
            <option value="">JavaScript</option>
            <option value="">Node</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tag">Insira uma tag</label>
          <input type="text" class="form-control">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Publicar</button>
      </div>
    </div>
  </div>
</div>
