.background {
    background-color:#11B894;
}

#magin-top-colunas {
    margin-top: 100px;
}

.magin-top {
    margin-top: 100px;
}

.post {
    width: auto;
    height: auto;
}

.jumbotron {
    background-color: #AA4BCC;
    color: lemonchiffon;
}

.border {
    background-color: #429684;
}