<div class="container-fluid background">

    <div class="row">

        <div class="col-md-3 m-0 border">

            <ul class="list-group magin-top font-weight-bold">
                <li class="list-group-item d-flex justify-content-center font-menu text-uppercase">Cursos</li>
                <li class="list-group-item list-group-item-primary">Finanças básica</li>
                <li class="list-group-item list-group-item-secondary">Libras</li>
                <li class="list-group-item list-group-item-success">Política básica</li>
                <li class="list-group-item list-group-item-danger">Matemática básica</li>
                <li class="list-group-item list-group-item-warning">História</li>
                <li class="list-group-item list-group-item-info">Literatura</li>

            </ul>

        </div>




        <div class="col-md-6 magin-top">
            <div class="jumbotron d-flex justify-content-center">
                <button class="btn">
                  <h3>Comparilhe conosco sua experiência </h3>
                </button>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <h1 class="text-center">Feed</h1>

                    <div class="card mt-5 mb-5" style="width: auto;">
                        <div>
                            <p class="font-weight-light p-4">Nome de usuario | 29/10/2002:14:32</p>
                        </div>
                        <img class="card-img-top post" src="https://i.imgur.com/NgLP9NX.png"
                            alt="imagem da postagem">
                            <p class="font-weight-light p-4">Tags:</p>
                    </div>

                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-12">

                    <div class="card mt-5 mb-5" style="width: auto;">
                        <div>
                            <p class="font-weight-light p-4">Nome de usuario | 29/10/2002:14:32</p>
                        </div>
                        <img class="card-img-top post" src="https://i.imgur.com/NYgRSfw.png"
                            alt="imagem da postagem">
                            <p class="font-weight-light p-4">Tags:</p>
                    </div>

                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-12">

                    <div class="card mt-5 mb-5" style="width: auto;">
                        <div>
                            <p class="font-weight-light p-4">Nome de usuario | 29/10/2002:14:32</p>
                        </div>
                        <img class="card-img-top post" src="https://i.imgur.com/CQ68FyB.png"
                            alt="imagem da postagem">
                            <p class="font-weight-light p-4">Tags:</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-3 m-0 text-center border" >
            <h3 id="magin-top-colunas">Trends</h3>

            <div class="m-0 p-0 font-italic text-left">
                <h2>#VacinaJá</h2>
                <h2>#Tecnologia</h2>
                <h3>#Cinema</h3>
                <h4>#Bitcoin</h4>
                <h4>#MeioAmbiente</h4>
                <h5>#Música</h5>
                <h5>#Política</h5>
            </div>

        </div>

    </div>
</div>
